[package]
name = "afrotd"
version = "0.4.6"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = { version = "0.8.4", features = ["tracing"] }
axum-extra = { version = "0.10.1", features = ["typed-header"] }
tower-http = { version = "0.6.6", features = ["fs", "trace"] }
chrono = "0.4.41"
chrono-tz = "0.10.4"
clap = { version = "4.5.42", features = ["derive"] }
eyre = "0.6.12"
indexmap = { version = "2.10.0", features = ["serde"] }
maud = { version = "0.27.0", features = ["axum"] }
once_cell = "1.21.3"
rand = "0.9.2"
rand_pcg = "0.9.0"
rand_seeder = "0.4.0"
regex = "1.11.1"
roman-numerals = "0.4.0"
rss = "2.0.12"
tokio = { version = "1.47.0", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
serenity = "0.12"
veil = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
genanki-rs = "0.4.0"

[dev-dependencies]
insta = { version = "1.43.1", features = ["yaml"] }
reqwest = { version = "0.12.22", features = ["blocking"] }
temp_testdir = "0.2.3"
tidier = "0.5.3"

[profile.dev.package]
insta.opt-level = 3
similar.opt-level = 3

[profile.release]
lto = "thin"
